.no-offset() {
  padding: 0;
  margin: 0;
}

html {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  .no-offset()
}

body {
  .no-offset();
  width: 100%;
  height: 100%;
  padding-top: 50px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  display: block;
  padding: 92px 20px 20px;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  .active {
    a:link, a:visited {
      color: #fff;
      background-color: #428bca;
    }
    a:hover, a:visited:hover {
      color: #fff;
      background-color: #428bca;
    }
  }
}

.pusher {
  margin-top:20px;
}

#plot-block {
  margin : 0 0 20px 0;
}

.pie_target {
  width: 300px;
  height: 300px;
}

.legend{
  .legendLabel {
    padding: 0 0 0 10px;
  }
}

#line_chart {
  height: 500px;
}