{% extends 'layout/default.html' %}
{% block content %}

<script type="text/javascript">
    window['_index_collection_'] = {{ index_collection | safe  }};
    window['_platforms_'] = {{ platforms | safe  }};
    window['_projects_'] = {{ projects | safe  }};
</script>

<div id="site-content"></div>

<script type="text/template" id="index-page-wrapper">
    <h1 class="page-header">Сводная информация о доходах студии Underlime</h1>
    <div class="container-fluid">
        <h3>По проектам</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="pie_target" id="project_pie"></div>
            </div>
            <div id='project-table' class="col-md-9">
                <!-- Project table -->
            </div>
        </div>
    </div>
    <div class="container-fluid pusher">
        <h3>По платформам</h3>
        <div class="row">
            <div class="col-md-3">
                <div class="pie_target" id="platform_pie"></div>
            </div>
            <div id="platform-table" class="col-md-9">
                <!-- Platform table -->
            </div>
        </div>
    </div>
</script>

<script type="text/template" id="plot-formatter-label">
    <div style="font-size:12px; padding:2px; color: #fff;">
        <b><%=label%></b>:&nbsp;<%=percent%>%
    </div>
</script>

<script type="text/template" id="project-table-template">
    <div class="panel panel-info">
        <div class="panel-heading">Доходы по проектам</div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Проект</th>
                <th>Количество платежей</th>
                <th>Средний размер платежа (руб.)</th>
                <th>Общая сумма (руб.)</th>
            </tr>
            <%
                for (key in data) {
                    project = data[key];
            %>
            <tr>
                <td><%=project.number%></td>
                <td><%=project.name%></td>
                <td><%=project.count%></td>
                <td><%=project.avg%></td>
                <td><%=project.total%></td>
            </tr>
            <% } %>
        </table>
    </div>
</script>

<script type="text/template" id='platform-table-template'>
    <div class="panel panel-info">
        <div class="panel-heading">Доходы по платформам</div>
        <table class="table">
            <tr>
                <th>#</th>
                <th>Платформа</th>
                <th>Количество платежей</th>
                <th>Средний размер платежа (руб.)</th>
                <th>Общая сумма (руб.)</th>
            </tr>
            <%
            for (key in data) {
            platform = data[key];
            %>
            <tr>
                <td><%=platform.number%></td>
                <td><%=platform.name%></td>
                <td><%=platform.count%></td>
                <td><%=platform.avg%></td>
                <td><%=platform.total%></td>
            </tr>
            <% } %>
        </table>
    </div>
</script>

<script type="text/template" id="project-page-template">
    <h1 class="page-header">Платежи по проектам за последний месяц</h1>
    <div class="container-fluid">
        <div id="line_chart"></div>
    </div>
</script>

{% endblock %}