{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>{{ title }}</title>
        <meta charset="utf-8"/>
        <meta name = "viewport" content = "initial-scale = 1, user-scalable = no">
        <link rel="stylesheet" href="{% static 'js/vendor/bootstrap/dist/css/bootstrap.min.css' %}" />
        <link rel="stylesheet" href="{% static 'css/template.css' %}" />
    </head>
    <body>
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Underlime payment log</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="http://underlime.net">Home</a></li>
                        <li><a href="http://underlime.net/projects/">Projects</a></li>
                        <li><a href="http://youtrack.webkraken.ru">Tracker</a></li>
                        <li><a href="http://teamcity.webkraken.ru">Building</a></li>
                        <li><a href="http://drive.google.com">Docs</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar">
                    <ul id="site-navigation" class="nav nav-sidebar">
                        <li data-title='Сводная информация' data-route='index' class="active"><a href="#/index/">Сводная информация</a></li>
                        <li data-title='Сравнение проектов' data-route='projects'><a href="#/projects/">Сравнение проектов</a></li>
                        <li data-title='Сравнение платформ' data-route='platforms'><a href="#/platforms/">Сравнение платформ</a></li>
                    </ul>
                </div>
                <div id="main-content" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>
        <script src="{% static 'js/vendor/jquery/dist/jquery.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/vendor/underscore/underscore.js' %}"></script>
        <script src="{% static 'js/vendor/backbone/backbone.js' %}"></script>
        <script src="{% static 'js/vendor/flot/jquery.flot.js' %}"></script>
        <script src="{% static 'js/vendor/flot/jquery.flot.pie.js' %}"></script>
        <script src="{% static 'js/public/CommonViews.js' %}"></script>
        <script src="{% static 'js/public/Routes.js' %}"></script>
        <script src="{% static 'js/public/Collections.js' %}"></script>
        <script src="{% static 'js/public/IndexViews.js' %}"></script>
        <script src="{% static 'js/public/ProjectsViews.js' %}"></script>
        <script src="{% static 'js/public/Plots.js' %}"></script>
        <script src="{% static 'js/public/App.js' %}"></script>
    </body>
</html>